IndentWidth: 8
AlignAfterOpenBracket: BlockIndent
BreakBeforeBraces: Custom
BraceWrapping:
   AfterFunction: true
   AfterExternBlock: true

NamespaceIndentation: All
AllowShortFunctionsOnASingleLine: None

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterFunctionDefinitionName: true
  BeforeNonEmptyParentheses: true

ColumnLimit: 80