BasedOnStyle: Microsoft
IndentWidth: 4
AlignAfterOpenBracket: BlockIndent
BreakBeforeBraces: Custom
BraceWrapping:
    AfterFunction: true
    AfterExternBlock: true

NamespaceIndentation: All
AllowShortFunctionsOnASingleLine: None

ColumnLimit: 80
BreakAfterReturnType: All
BreakAfterAttributes: Always
BinPackParameters: AlwaysOnePerLine