# Copyright 2026 dywoq - Apache License 2.0
# A part of https://github.com/dywoq/vacui

menu "Utility"

config UTILITY_DEBUG
        bool "Debug mode (ON/OFF)"
        default y
        help
                If it's on, the debug features (such as logging) are enabled.

endmenu

